{{ '"' + report_fields | join('","', attribute='label') + '"' }}
{% for host in vars['play_hosts'] %}
{%   set this_line = [] %}
{%   set data = hostvars[host]['server_report_data'] %}
{%-  for this_field in report_fields %}
{%-    if this_field.is_manual | default(false) %}
{{       this_line.append("MANUAL") or "" }}
{%-    else %}
{{       this_line.append(data[this_field['field_name']] | default("NOVALUE")) or "" }}
{%-    endif %}
{%-  endfor %}
{{ '"' + this_line | join('","') + '"' }}
{% endfor %}
{{ check_project_version }}, run time: {{ ansible_date_time.iso8601 }}
