{
  "server_report_data":
  [
    {
      "server_name": {{ hostvars[host]['inventory_hostname'] }},

      "ip_address": "{{ hostvars[host]['ansible_host'] }}",

      "server_report_data": {
        {% for variable_name in server_report_data %}
        "{{ variable_name }}": "{{ hostvars[host]['server_report_data'][variable_name] | default('NOVALUE') }}"{% if not loop.last %},{% endif %}
        {% endfor %}
        }
  ]
  "check_project_version": "{{ check_project_version }}",
  "run_time": "{{ ansible_date_time.iso8601 }}"
}
