# Server Inventory Report

## {{ hostname }}

| Attribute | Value |
| --------- | ----- |
| IP Address | {{ ip_address }} |
| Operating System | {{ os_release }} |
| Kernel Version | {{ kernel_version }} |

## Installed Software

| Package | Version |
| ------- | ------- |
{% for package in software_facts.facts.packages %}
| {{ package }} | {{ software_facts.facts.packages[package].version }} |
{% endfor %}

## Hardware Information

| Attribute | Value |
| --------- | ----- |
| Product Name | {{ hardware_facts.facts[0].ansible_product_name }} |
| Manufacturer | {{ hardware_facts.facts[0].ansible_product_name }} |
| Serial Number | {{ hardware_facts.facts

## Disk usage

| Mount point | Total size (GB) | Used (GB) | Free (GB) | Used (%) |
|-------------|----------------|-----------|-----------|----------|
{% for item in disk_usage_by_mount_point %}
| {{ item.mount }} | {{ item.total|round(2) }} | {{ item.used|round(2) }} | {{ item.free|round(2) }} | {{ item.percent_used|round(2) }} |
{% endfor %}

## Custom Test Section, display any custom tests below here

{% for test_file in custom_tests_files %}
## {{ test_file.name }}
{% include test_file.path %}
{% endfor %}

